<%- contentFor('title') %>
My Blog

<%- contentFor('main') %>
<h1><%- post.title %></h1>

<div class="post-image" style="background-image: url('http://localhost:1337/<%- post.image.url %>');"></div>

<%- post.content %>